<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="MemoryScavenger.SweepTimeIntervalMinutes" value="60000"/>
    <add key="MemoryScavenger.LogFolderPath" value="D:\MemoryScavenger"/>
    <add key="MemoryScavenger.SkipLogging" value="True"/>
  </appSettings>
</configuration>